@using SchoolJournal.Models
@model List<TeacherViewModel>

@{
    ViewBag.Title = "All Teachers";
}

<h2>Список Всех Учителей в Школе</h2>


<div class="conteiner">
    <table>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
        </tr>

        @foreach (TeacherViewModel tVM in Model)
        {
            <tr>
                <td>@tVM.TeacherFirstName</td>
                <td>@tVM.TeacherLastName</td>
                <td>@Html.ActionLink("Детали", "ShowTeacher", new { modelId = tVM.TeacherId })</td>
            </tr>
        }

    </table>
</div>
